/* ========================= */
/* BASIC SETUP */
/* ========================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ========================= */
/* REUSABLE COMPONENT */
/* ========================= */

.row{
    max-width: 1440px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*========== HEADINGS ==========*/

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 260%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #000;
}

h3 {
    font-size: 110%;
    margin-top: 15px;
}

h4 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0px;
    color: #000;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/*========== ICONS ==========*/

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #fff;
    font-size: 120%;
    margin-right: 10px;
   
}

/*========== LINKS ==========*/
a:link,
a:visited{
    text-decoration: none;
    color: #fff;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2, color 0.2;
    transition: border-bottom 0.2, color 0.2;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}
/*========= BUTTONS ========*/
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
}
.btn-full{
    font-size:18px;
    font-weight: 500;
    padding: 5px 25px;
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-full:link,
.btn-full:visited{
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-full:hover,
.btn-full:active{
    color: #CEBDC5;
    background-color: #1A836E;
    border: 1px solid #1A836E;
}

.btn-full-small{
    padding:3px 10px;
    margin:2px;
    font-size:15px;
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-ghost-small{
    padding:3px 10px;
    margin:2px;
    font-size:15px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    color:black;
}
/* ======= LOGO =========== */
.logo-text{
    margin-left:5px;
    margin-right: 35px;
    font-size:20px;
    font-weight: bold;
}

/*======== MAIN NAV TOP ======*/
.main-nav{
    color: #fff;
    margin-left:10px;
    font-size: 90%;
}

.main-nav li{
    padding: 0 13px;    
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
/* ================= */
/* MAIN NAV BAR CENTER */
/* ================= */
.main-nav-bar-center{
    margin: 10px;
    font-size: 17px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F1F1F1;
    box-shadow: 0 4px 2px -2px #F1F1F1;
}

.main-nav-bar li a:link,
.main-nav-bar li a:visited{
    color: #5E5E5E;
    text-decoration: none;
    font-weight: bold;
}

.main-nav-bar li a:hover,
.main-nav-bar li a:active{
    color: #0064F9;
}


/* ====== CHALLENGE TEXT ======= */

.challenge-text{
    width:1440px;
    text-align:center;
    margin-top: 100px;
}

.challenge-text-h1{
    font-weight: 700;
}

/* ================= */
/* CHALLENGE SECTION */
/* ================= */
.challenge-past-section{
    background-color: #F9F9F9;
    
}

h2 a:link, 
h2 a:visited{
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
    color: #000;
}
.challenge-card-content-overview{
    font-size: 15px;
    font-weight: 600;
    color: #5E5E5E;
    text-transform: uppercase;
}

.challenge-title{
    font-size:25px;
    font-weight:700;
    margin-bottom:-5px;
}

.challenge-present{
    font-size: 12px;
    font-weight:500;
    text-transform: uppercase;
    color: #5E5E5E;
    margin-top: 5px;
}

.challenge-present img{
    width: 25px;
    height:25px;
    margin-right: 5px;
}


/* ========== challenge section GRID========== */
.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 3px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    /* Challenge Detail */
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  /* ================= */
/* CHALLENGE-TITLE */
/* ================= */

.challenge-hero{
    padding-left: 90px;
}


.challenge-hero-title-detail{
    font-size:18px;
    font-weight:400;
}

.challenge-hero-title-title{
    font-size: 36px;
    font-weight: 800;
}

.challenge-hero-title-prize{
    font-size:15px;
    
}
.challenge-hero-title-prize img{
    width: 60px;
    height: 60px;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
}

.challenge-submit{
    padding-left: 50px;
}

.challenge-submit a:hover,
.challenge-submit a:active{
    color: #CEBDC5;
    background-color: #1A836E;
    border: 1px solid #1A836E;

}

.challenge-hero-title-ready{
    font-size:25px;
    font-weight: 700;
}

  /* ================= */
/* CHALLENGE-DESCRIBE */
/* ================= */

.section-challenge-describe{
    background-color: #F9F9F9;
}

.challenge-describe-text{
    padding-left: 90px;
}


.challenge-describe-text-title{
    font-size:22px;
    font-weight:700;
}

.challenge-describe-text-content{
    font-size: 16px;
    margin-left: 30px;
}

.challenge-submit img{
    height: 300px;
    width: 500px;
    border-radius:10px;
}

.challenge-submit-present img{
    width: 80px;
    height: 80px;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
}
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    /* Challenge UPLOAD */
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  .challenge-upload-title{
    margin: 40px 0;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.upload-info-list{
    width:700px;
    height: 150px;
    margin-left: 250px;
}

.upload-info-list li{
    color: #616161;
    font-weight: 200;
    font-size: 17px;
}

.challenge-upload-btn{
    margin: 0 140px;
    width: 900px;
    height: 90px;
    text-align: center;
    padding: 18px 40px;
    border: 2px solid #DADADA;
    background-color: #F5F5F5;
    border-style: dashed;
}

.challenge-upload-publish{
    text-align: center;
    margin-top: 25%;
    padding: 10px 0;
    border-top: 1px solid #DADADA;
}