/* ========================= */
/* BASIC SETUP */
/* ========================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ========================= */
/* REUSABLE COMPONENT */
/* ========================= */

.row{
    max-width: 1440px;
    margin: 0 auto;
}

section{
    padding: 20px 0;
}

.box{
    padding: 1%;
}

/*========== HEADINGS ==========*/

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 260%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    font-size: 130%;
    word-spacing: 2px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    color: #000;
}

h3 {
    font-size: 80%;
    font-weight: 400;
}

h4 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0px;
    color: #000;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/*========== ICONS ==========*/

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #fff;
    font-size: 120%;
    margin-right: 10px;
   
}

/*========== LINKS ==========*/
a:link,
a:visited{
    text-decoration: none;
    color: #fff;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2, color 0.2;
    transition: border-bottom 0.2, color 0.2;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}
/*========= BUTTONS ========*/
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
}
.btn-full{
    font-size:18px;
    font-weight: 500;
    padding: 5px 25px;
    background-color: #05A081;
    border: 1px solid #05A081;
}


.btn-full:hover,
.btn-full:active{
    color: #CEBDC5;
    background-color: #1A836E;
    border: 1px solid #1A836E;
}

.btn-full-small{
    padding:3px 10px;
    margin:2px;
    font-size:15px;
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-ghost-small{
    padding:3px 10px;
    margin:2px;
    font-size:15px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    color:black;
}

.btn_upload{
    margin-top: -5px;
}

/* ======= LOGO =========== */
.logo-image {
    height: 50px;
    width: auto;
    float: left;
    margin-top: -10px;
    margin-left: 20px;
}

.logo-text {
    color: #fff;
    height: 50px;
    width: auto;
    float: left;
    margin-left: 10px;
    font-weight: bold;
}

.search-box{
    position: absolute;
    top: 2.3%;
    left: 37%;
    transform: translate(-50%,-20%);
    background: #fff;
    height: 40px;
    width: 50%;
    border-radius: 5px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    width: 85%;
    padding: 2px;
    border-radius: 5px;
    float: left;
    line-height: 40px;
    font-size: 17px;
    font-weight: 300;
}

/*======== MAIN NAV TOP ======*/


.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.main-nav-top{
    height: 60px;
    background-color: #232B34;
}

.main-nav{
    list-style: none;
    float: right;
}

.main-nav li{
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}


.main-nav li a:active,
.main-nav li a:hover{
    color: #555;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* ================= */
/* MAIN NAV BAR CENTER */
/* ================= */
.main-nav-bar-center{
    margin: 10px;
    font-size: 17px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F1F1F1;
    box-shadow: 0 4px 2px -2px #F1F1F1;
}

.main-nav-bar li a:link,
.main-nav-bar li a:visited{
    color: #5E5E5E;
    text-decoration: none;
    font-weight: bold;
}

.main-nav-bar li a:hover,
.main-nav-bar li a:active{
    color: #0064F9;
}
/* ================= */
/* Section title */
/* ================= */

h2 a:link, 
h2 a:visited{
    color: #000;
}

.leaderboard_title_headline{
    padding: 20px 100px;
}

.leaderboard_title{
    margin-bottom: 10px;
    font-weight: 700;
}


.leaderboard_rank{
    width: 200px;
    height: 100px;
    text-align: center;
    padding-left: 100px;
    float: left;
}

.rank{
    font-size: 35px;
    font-weight: 800;
}

.view{
    font-size:15px;
    color: #5E5E5E;
    font-weight:400;
}

.leaderboard_avatar{
    margin-top: 20px;
    height: 70px;
    border-radius: 50%;
    vertical-align: middle;
}

.leaderboard_info{
    padding-top: 25px;
    padding-left: 20px;
}

.leaderboard_name{
    font-weight: 700;
}

.leaderboard_name_detail{
    font-size: 16px;
}

/*====*/
.column {
    float: left;
    width: 33.33%;
    height: 30px;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.leaderboard_product img {
    width:100%; 
    height: 120px;
    object-fit:cover;

  }

  /* ========================= */
/* FOOTER */
/* ========================= */
footer{
    background-color: #222B34;
    padding: 40px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: right;
    font-family: 'Monoton', cursive;
}

.social-links{
    list-style: none;
    float: left;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin: 0;
}

.footer-nav li a:link,
.social-links li a:link,
.footer-nav li a:visited,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 150%;
}

.ion-social-facebook:hover,
.ion-social-twitter:hover,
.ion-social-googleplus:hover,
.ion-social-instagram:hover{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-twitter:hover{
    color: #55acee;
}

.ion-social-instagram:hover{
    color: #ff0084;
}

.foo-text-first{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Special Elite', cursive;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}
  