/* ========================= */
/* BASIC SETUP */
/* ========================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ========================= */
/* REUSABLE COMPONENT */
/* ========================= */

.row{
    max-width: 1440px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*========== HEADINGS ==========*/

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h4 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0px;
    color: #000;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}


/*========== ICONS ==========*/

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #fff;
    font-size: 120%;
    margin-right: 10px;
   
}

/*========== LINKS ==========*/
a:link,
a:visited{
    text-decoration: none;
    color: #fff;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2, color 0.2;
    transition: border-bottom 0.2, color 0.2;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}


/*========= BUTTONS ========*/
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    padding: 5px 25px;
}
.btn-full{
    font-size:18px;
    font-weight: 500;
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-full:hover,
.btn-full:active{
    color: #CEBDC5;
    background-color: #1A836E;
    border: 1px solid #1A836E;
}

.btn-small{
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    padding:3px 10px;
    margin:2px;
    font-size:15px;
}

.btn-full-small{
    color:#fff;
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-full-small:hover,
.btn-full-small:active{
    background-color: #0ABA95;
    border: 1px solid #0ABA95;
}

.btn-ghost-small{
    background-color: #fff;
    border: 1px solid #DDDDDD;
    color:black;
}
/* ======= LOGO =========== */

.logo-img{
    height:50px;
}
.logo-text{
    margin-left:5px;
    margin-right: 35px;
    font-size:20px;
    font-weight: bold;
}

.search-box{
    width: 750px;
    height: 45px;
    border-radius: 5px;
    border-style: none;
}

/*======== MAIN NAV TOP ======*/
.main-nav{
    color: #fff;    
    margin-left:10px;
    font-size: 90%;
}

.main-nav li{
    padding: 0 13px;    
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/*==================*/
/*USER INFO SECTION*/
/*==================*/

.section-profile{
    margin: 80px;
}
.profile-header{
    position: absolute;
    top: 25%;
    left:40%;
    transform: translate(-30%, -25%);
}

.media img{
    height: 150px;
    border-radius: 50%;
    vertical-align: middle;
}

.user-name{
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
}

.group-btn{
    margin-left: 20px;
}

.user-social{
    width: auto;
    margin: 25px 0px;
    position: fixed;
    font-weight: 100;
    color: #707070;
}

.user-social-link{
    padding: 0px 10px;
    font-size: 16px;
}

.user-intro{
    margin: 10px 0;
    font-size: 18px;
}

.user-view{
    color: #000;
    font-size: 15px;
}

/* ================= */
/* MAIN NAV BAR CENTER */
/* ================= */
.main-nav-bar-center{
    margin: 10px;
    font-size: 15px;
}



.main-nav-bar li a:link,
.main-nav-bar li a:visited{
    color: #5E5E5E;
    text-decoration: none;
    font-weight: bold;
}

.main-nav-bar li a:hover,
.main-nav-bar li a:active{
    color: #0064F9;
}

/* ================= */
/* GRID IMAGE HOME */
/* ================= */

.section-grid-image{
    margin-top: 10px;
    padding: 0;
}

.grid-image{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0px 20px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 6px;
  }
  
  .column img {
    margin: 6px 0;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 1200px) {
    .column {
      -ms-flex: 33%;
      flex: 33%;
      max-width: 33%;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  