/* ========================= */
/* BASIC SETUP */
/* ========================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ========================= */
/* REUSABLE COMPONENT */
/* ========================= */

.row{
    max-width: 1440px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*========== HEADINGS ==========*/

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h4 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0px;
    color: #000;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*========== ICONS ==========*/

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #fff;
    font-size: 120%;
    margin-right: 10px;
   
}

/*========= BUTTONS ========*/
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
    border-radius: 3px;
}
.btn-full{
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-full:link,
.btn-full:visited{
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-full:hover,
.btn-full:active{
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-full-small{
    padding:3px 10px;
    margin:2px;
    font-size:15px;
    background-color: #05A081;
    border: 1px solid #05A081;
}

.btn-ghost-small{
    padding:3px 10px;
    margin:2px;
    font-size:15px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    color:black;
}
/* ======= LOGO =========== */
.logo-text:link,
.logo-text:visited{
    color: #fff;
    margin-left:5px;
    margin-right: 35px;
    font-size:20px; 
    font-weight: bold;
}
.logo-text:hover,
.logo-text:active{
    color: #fff;
    margin-left:5px;
    margin-right: 35px;
    font-size:20px; 
    font-weight: bold;
}

/*======== MAIN NAV TOP ======*/
.main-nav li{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/*==================*/
/*USER INFO SECTION*/
/*==================*/

.section-profile{
    margin: 80px;
}
.profile-header{
    position: absolute;
    width: 1140px;
    top: 25%;
    left:50%;
    transform: translate(-30%, -25%);
}

.media img{
    height: 150px;
    border-radius: 50%;
    vertical-align: middle;
}

.user-name{
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
}

.group-btn{
    margin-left: 20px;
}

.user-social{
    width: auto;
    margin: 30px 0px;
    position: fixed;
    font-weight: 100;
    color: #707070;
}

.user-social-link{
    padding: 0px 10px;
    font-size: 16px;
}

.user-intro{
    margin: 10px 0;
    font-size: 18px;
}

.user-view{
    color: #000;
    font-size: 15px;
}

/* ================= */
/* MAIN NAV BAR CENTER */
/* ================= */
.main-nav-bar-center{
    margin: 10px;
    font-size: 15px;
}



.main-nav-bar li a:link,
.main-nav-bar li a:visited{
    color: #5E5E5E;
    text-decoration: none;
    font-weight: bold;
}

.main-nav-bar li a:hover,
.main-nav-bar li a:active{
    color: #0064F9;
}

/* ================= */
/* GRID IMAGE HOME */
/* ================= */

.section-grid-image{
    margin-top: 10px;
    padding: 0;
}

.grid-image{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0px 20px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 6px;
  }
  
  .column img {
    margin: 6px 0;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  