
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
      /*============ NAV BAR ======*/
      .logo-image {
        margin-left: 0px;
    }

    .btn-full{
        padding: 4px 22px;
    }

    .search-box{
        left: 34%;
        width: 42%;
        transform: translate(-50%,-10%);
    }
    .main-nav li{
        margin-left: 35px;
    }


  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
   /*============ NAV BAR ======*/

   .logo-text{
    display: none;
    }

    .logo-image {
        margin-left: 5px;
    }
    .search-box{
        left: 38%;
        width: 60%;
        transform: translate(-50%,-10%);
    }



    .main-nav-top{
    padding-top: 3px;
    }

    .main-nav li:first-child{ 
        display: none
    }

    .main-nav li:nth-child(2){ 
        display: none;
    }

    /*+++++++++++++++++++++++++++++++ Challenge LIST++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

    .gallery {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, 5vw);
        grid-gap: 3px;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6;
    
        /** Alternative Syntax **/
        /* grid-column: 1 / span 2;  */
        /* grid-row: 1 / span 2; */
    }
  
  .gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    }
      /* +++++++++++++++++++Challenge DETAIL ++++++++++++++++++++++++++++++++++++++ */


    .challenge-detail-second{
        margin-left: 30px;
    }

    .challenge-submit{
        margin-right:10px;
    }

    .challenge-describe-text{
        padding-left: 50px;
    }
    


 /* +++++++++++++++++++Challenge UPLOAD ++++++++++++++++++++++++++++++++++++++ */

.upload-info-list{
    margin-left: 25%;
}

.challenge-upload-btn{
    margin: 0 40px;
    width: 850px;

}

.challenge-upload-publish{
    margin-top: 23%;
}

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 850px) and (max-width: 991px)  { 
    /*============ NAV BAR ======*/
    .logo-text{
        display: none;
    }

    .logo-image {
        padding-top: 10px;
        margin-left: 3px;
    }

    .search-box{
        left: 45%;
        width: 75%;
        transform: translate(-50%,-5%);
    }

    /*========= MENU TOGGLE ==============*/
    .menu-toggle{
        display:block;
        height: 40px;
        width: 40px;
        color: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 130%;
    }

    .menu-toggle:before{
        content:'\f0c9';
        font-family: FontAwesome;
        line-height:40px;
    }

    .menu-toggle.active:before{
        content:'\f00d';
    }

    .main-nav{
        display: none;
    }

    .main-nav.active{
        display: block;
        width: 100%;
    }

    .main-nav.active ul{
        display: block;
        float: right;
    }

    .main-nav.active li{
        display: block;
        background-color: #000;
    }
     /*+++++++++++++++++++++++++++++++ Challenge LIST++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .container{
        margin: 20px;
    }
    .challenge-card-content-overview{
        font-size: 13px;
        width: 80%;
    }
     .gallery {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 5vw);
        grid-gap: 3px;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 8;
    
        /** Alternative Syntax **/
        /* grid-column: 1 / span 2;  */
        /* grid-row: 1 / span 2; */
    }
  
  .gallery__item--2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 8;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
    }

      /* +++++++++++++++++++Challenge DETAIL ++++++++++++++++++++++++++++++++++++++ */


    .challenge-detail-second{
        margin-left: 0px;
    }

    .challenge-detail-first{
        margin-left: 50px;
    }

    .challenge-describe-text{
        padding-left: 60px;
    }

    .challenge-submit{
      float: left;
      margin-left:80px;
    }

    .challenge-submit img{
        width: 680px;
    }

    .challenge-submit-present img{
        width: auto;
        height: 70px;
    }


     /* +++++++++++++++++++Challenge UPLOAD ++++++++++++++++++++++++++++++++++++++ */

    .upload-info-list{
        margin-left: 17%;
    }

    .challenge-upload-btn{
        margin: 0 5px;
        width: 700px;
        height: 80px;

    }

    .challenge-upload-publish{
        margin-top: 35%;
    }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 598px) and (max-width: 849px){
    /*============ NAV BAR ======*/
    .logo-text{
        display: none;
    }

    .logo-image {
        padding-top: 10px;
        margin-left: 3px;
    }

    .search-box{
        top: 3.2%;
        left: 45%;
        width: 70%;
        transform: translate(-50%,0%);
    }

    /*========= MENU TOGGLE ==============*/
    .menu-toggle{
        display:block;
        height: 40px;
        width: 40px;
        color: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 130%;
    }

    .menu-toggle:before{
        content:'\f0c9';
        font-family: FontAwesome;
        line-height:40px;
    }

    .menu-toggle.active:before{
        content:'\f00d';
    }

    .main-nav{
        display: none;
    }

    .main-nav.active{
        display: block;
        width: 100%;
    }

    .main-nav.active ul{
        display: block;
        float: right;
    }

    .main-nav.active li{
        display: block;
        background-color: #000;
    }

      /*+++++++++++++++++++++++++++++++ Challenge LIST++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .container{
        margin: 20px;
    }
    .challenge-card-content-overview{
        font-size: 15px;
    }

    .challenge-text-h1{
        font-size:45px;
    }

    h3{
        font-size: 130%;
        margin-top: 10px;
    }
     .gallery {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(9, 5vw);
        grid-gap: 3px;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 10;
    
        /** Alternative Syntax **/
        /* grid-column: 1 / span 2;  */
        /* grid-row: 1 / span 2; */
    }
  
  .gallery__item--2 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 10;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    }

        /* +++++++++++++++++++Challenge DETAIL ++++++++++++++++++++++++++++++++++++++ */

    .rowX {
            flex-direction: column;
          }

    .challenge-detail-first{
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .challenge-detail-second{
        margin-left: 40px;
    }

    .challenge-hero-title-ready{
        font-size:25px;
        font-weight: 600;
        word-spacing: 1px;
        margin-bottom: 10px;
    }

    .btn-full{
        padding: 8px 25px;
    }

    .challenge-hero-title-prize{
        margin-top: 5px;
    }

    .btn-text{
        padding: 0px 110px;
    }

    .challenge-submit{
        float: left;
        margin-left:50px;
      }
    
    .challenge-describe-text{
        padding-left: 40px;
    }
    .challenge-submit img{
        width: 500px;
    }

    .challenge-submit-present img{
        width: auto;
        height: 60px;
    }
    
        /* +++++++++++++++++++Challenge UPLOAD ++++++++++++++++++++++++++++++++++++++ */

    .upload-info-list{
        margin-left: 5%;
    }

    .challenge-upload-btn{
        margin-left: -30px;
        width: 600px;
        height: 80px;

    }

    .challenge-upload-publish{
        margin-top: 50%;
    }

}

@media (min-width: 480px) and (max-width: 597px){
    /*============ NAV BAR ======*/
    .logo-text{
        display: none;
    }

    .logo-image {
        padding-top: 10px;
        margin-left: 3px;
    }

    .search-box{
        left: 48%;
        width: 70%;
        transform: translate(-50%,10%);
    }

    /*========= MENU TOGGLE ==============*/
    .menu-toggle{
        display:block;
        height: 40px;
        width: 40px;
        color: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 130%;
    }

    .menu-toggle:before{
        content:'\f0c9';
        font-family: FontAwesome;
        line-height:40px;
    }

    .menu-toggle.active:before{
        content:'\f00d';
    }

    .main-nav{
        display: none;
    }

    .main-nav.active{
        display: block;
        width: 100%;
    }

    .main-nav.active ul{
        display: block;
        float: right;
    }

    .main-nav.active li{
        display: block;
        background-color: #000;
    }

      /*+++++++++++++++++++++++++++++++ Challenge LIST++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
      .container{
        margin: 20px;
    }
    .challenge-card-content-overview{
        font-size: 14px;
    }

    .challenge-text-h1{
        font-size:45px;
    }

    h3{
        font-size: 120%;
        margin-top: 10px;
    }
     .gallery {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(9, 5vw);
        grid-gap: 3px;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 10;
    
        /** Alternative Syntax **/
        /* grid-column: 1 / span 2;  */
        /* grid-row: 1 / span 2; */
    }
  
  .gallery__item--2 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 10;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 5;
    }
    /* +++++++++++++++++++Challenge DETAIL ++++++++++++++++++++++++++++++++++++++ */

        .rowX {
            flex-direction: column;
            }
    
        .challenge-detail-first{
            margin-left: 30px;
            margin-bottom: 30px;
        }
        .challenge-detail-second{
            margin-left: 30px;
        }
    
        .challenge-hero-title-ready{
            font-size:25px;
            font-weight: 600;
            word-spacing: 1px;
            margin-bottom: 10px;
        }

        .challenge-hero-title-prize{
            margin-top: 5px;
        }
    
        .btn-text{
            padding: 0px 50px;
        }

        .challenge-submit{
            float: left;
            margin-left:50px;
          }
        
          .challenge-describe-text{
            padding-left: 30px;
            padding-right: 20px;
        }
        
        .challenge-submit img{
            width: 400px;
        }
        .challenge-submit-present img{
            width: auto;
            height: 50px;
        }

    /* +++++++++++++++++++Challenge UPLOAD ++++++++++++++++++++++++++++++++++++++ */
    .challenge-upload-title{
        font-size: 25px;
    }

    .upload-info-list{
        width: 400px;
        margin-left: 7%;
        text-align: justify;
    }

    .upload-info-list li{
        font-size: 14px;
    }

    .challenge-upload-btn{
        margin-left: 0px;
        padding: 5px 30px;
        width: 450px;
        height: 70px;
        font-size: 17px;
    }

    .challenge-upload-publish{
        margin-top: 55%;
    }

    footer{
        font-size: 70%;
    }

    .footer-nav li,
    .social-links li{
    margin-right: 10px;
    }

}
