
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
      /*============ NAV BAR ======*/
      .logo-image {
        margin-left: 0px;
    }

    .btn-full{
        padding: 4px 22px;
    }

    .search-box{
        left: 34%;
        width: 42%;
        transform: translate(-50%,-10%);
    }
    .main-nav li{
        margin-left: 35px;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
   /*============ NAV BAR ======*/

   .logo-text{
    display: none;
}

.logo-image {
    margin-left: 5px;
}
.search-box{
    left: 38%;
    width: 60%;
    transform: translate(-50%,-10%);
}



.main-nav-top{
   padding-top: 3px;
}

.main-nav li:first-child{ 
    display: none
}

.main-nav li:nth-child(2){ 
    display: none;
}


 /* +++++++++++++++++++Challenge UPLOAD ++++++++++++++++++++++++++++++++++++++ */

.upload-info-list{
    margin-left: 25%;
}

.challenge-upload-btn{
    margin: 0 40px;
    width: 850px;

}

.challenge-upload-publish{
    margin-top: 23%;
}

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)  { 
    /*============ NAV BAR ======*/
    .logo-text{
        display: none;
    }

    .logo-image {
        padding-top: 10px;
        margin-left: 3px;
    }

    .search-box{
        left: 45%;
        width: 75%;
        transform: translate(-50%,-5%);
    }

    /*========= MENU TOGGLE ==============*/
    .menu-toggle{
        display:block;
        height: 40px;
        width: 40px;
        color: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 130%;
    }

    .menu-toggle:before{
        content:'\f0c9';
        font-family: FontAwesome;
        line-height:40px;
    }

    .menu-toggle.active:before{
        content:'\f00d';
    }

    .main-nav{
        display: none;
    }

    .main-nav.active{
        display: block;
        width: 100%;
    }

    .main-nav.active ul{
        display: block;
        float: right;
    }

    .main-nav.active li{
        display: block;
        background-color: #000;
    }

     /* +++++++++++++++++++Challenge UPLOAD ++++++++++++++++++++++++++++++++++++++ */

    .upload-info-list{
        margin-left: 17%;
    }

    .challenge-upload-btn{
        margin: 0 5px;
        width: 700px;
        height: 80px;

    }

    .challenge-upload-publish{
        margin-top: 35%;
    }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 598px) and (max-width: 767px){
    /*============ NAV BAR ======*/
    .logo-text{
        display: none;
    }

    .logo-image {
        padding-top: 10px;
        margin-left: 3px;
    }

    .search-box{
        top: 3.2%;
        left: 45%;
        width: 70%;
        transform: translate(-50%,0%);
    }

    /*========= MENU TOGGLE ==============*/
    .menu-toggle{
        display:block;
        height: 40px;
        width: 40px;
        color: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 130%;
    }

    .menu-toggle:before{
        content:'\f0c9';
        font-family: FontAwesome;
        line-height:40px;
    }

    .menu-toggle.active:before{
        content:'\f00d';
    }

    .main-nav{
        display: none;
    }

    .main-nav.active{
        display: block;
        width: 100%;
    }

    .main-nav.active ul{
        display: block;
        float: right;
    }

    .main-nav.active li{
        display: block;
        background-color: #000;
    }

        /* +++++++++++++++++++Challenge UPLOAD ++++++++++++++++++++++++++++++++++++++ */

    .upload-info-list{
        margin-left: 5%;
    }

    .challenge-upload-btn{
        margin-left: -30px;
        width: 600px;
        height: 80px;

    }

    .challenge-upload-publish{
        margin-top: 50%;
    }

}

@media (min-width: 480px) and (max-width: 597px){
    /*============ NAV BAR ======*/
    .logo-text{
        display: none;
    }

    .logo-image {
        padding-top: 10px;
        margin-left: 3px;
    }

    .search-box{
        left: 48%;
        width: 70%;
        transform: translate(-50%,10%);
    }

    /*========= MENU TOGGLE ==============*/
    .menu-toggle{
        display:block;
        height: 40px;
        width: 40px;
        color: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 130%;
    }

    .menu-toggle:before{
        content:'\f0c9';
        font-family: FontAwesome;
        line-height:40px;
    }

    .menu-toggle.active:before{
        content:'\f00d';
    }

    .main-nav{
        display: none;
    }

    .main-nav.active{
        display: block;
        width: 100%;
    }

    .main-nav.active ul{
        display: block;
        float: right;
    }

    .main-nav.active li{
        display: block;
        background-color: #000;
    }

    /* +++++++++++++++++++Challenge UPLOAD ++++++++++++++++++++++++++++++++++++++ */
    .challenge-upload-title{
        font-size: 25px;
    }

    .upload-info-list{
        width: 400px;
        margin-left: 7%;
        text-align: justify;
    }

    .upload-info-list li{
        font-size: 14px;
    }

    .challenge-upload-btn{
        margin-left: 0px;
        padding: 5px 30px;
        width: 450px;
        height: 70px;
        font-size: 17px;
    }

    .challenge-upload-publish{
        margin-top: 55%;
    }

    footer{
        font-size: 70%;
    }

    .footer-nav li,
    .social-links li{
    margin-right: 10px;
    }

}
