
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1415px){ 
    
    .search-box{
        width: 550px;
        height: 45px;
    }

    .user-intro{
        font-size: 16px;
    }
    
    .media img{
        margin-top: 15px;
        height: 130px;
    }

    .main-nav li{
        padding: 0 10px;    
    }

    .section-profile{
        padding-bottom: 100px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
    .logo-text{
        display: none;
    }

    .logo-img{
        margin-right: 10px;
    }

    .search-box{
        width: 580px;
    }

    .main-nav li:first-child{ 
        display: none
    }

    .main-nav li:nth-child(2){ 
        display: none;
    }

    .profile-header{    
        left:48%;
    }
   
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)  { 



    /*==========PROFILE ===========*/
    .section-profile{
        margin: 120px 80px;
    }
    .profile-header{
        left:44%;
        width: 50%;
    }
    .profile-user-info img{
        margin-left: 130px;
    }
    .user-avatar{
        float: none;
    }
    .user-name{
        float: none;
    }

    .group-btn{
        float: none;
    }

    .media-body{
        text-align: center;
        float: none;
    }

    .user-social{
        margin: 15px 0px;
        padding-left: 35px;
        text-align: center;
    }
 }

 @media (min-width: 598px) and (max-width: 767px){

    /*==========PROFILE ===========*/
    .section-profile{
        margin: 120px 80px;
    }
    .profile-header{
        left:40%;
        width: 50%;
    }
    .profile-user-info img{
        margin-left: 40%;
    }
    .user-avatar{
        float: none;
    }
    .user-name{
        width: 75%;
        text-align: center;
        margin: 5px 0;
        float: none;
    }

    .group-btn{
        margin-left: 60px;
        width: 100%;
        float: none;
    }

    .media-body{
        width: 150%;
        float: none;
    }

    .user-social{
        width: 100%;
        margin: 15px 0px;
        padding-left: 35px;
        text-align: center;
    }

    .user-view{
       text-align: center;
    }

}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 480px) and (max-width: 597px){
       /*==========PROFILE ===========*/
    .section-profile{
        margin: 120px 80px;
    }
    .profile-header{
        left:30%;
        width: 50%;
    }
    .profile-user-info img{
        margin-left: 40%;
    }
    .user-name{
        width: 90%;
    }

    .group-btn{
        width: 100%;
    }

    .media-body{
        width: 150%;
    }

    .user-social{
        width: 130%;
        text-align: center;
    }
}

