
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
    .row{
        padding: 0 1%;
    }

    .logo-image {
        margin-left: 0px;
    }

    .btn-full{
        padding: 4px 22px;
    }

    .search-box{
        left: 34%;
        width: 42%;
        transform: translate(-50%,-10%);
    }
    .main-nav li{
        margin-left: 35px;
    }

    .user-intro{
        font-size: 16px;
    }
    
    .media img{
        margin-top: 15px;
        height: 130px;
    }

    .section-profile{
        padding-bottom: 100px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
    .logo-text{
        display: none;
    }

    .logo-image {
        margin-left: 5px;
    }
    .search-box{
        left: 38%;
        width: 60%;
        transform: translate(-50%,-10%);
    }

   
    .main-nav-top{
       padding-top: 3px;
    }

    .main-nav li:first-child{ 
        display: none
    }

    .main-nav li:nth-child(2){ 
        display: none;
    }

    .section-profile{
        padding-bottom: 150px;
    }

    .profile-header{    
        left:48%;
    }

    .user-intro{
        font-size: 16px;
    }
   
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)  { 
    /*============ NAV BAR ======*/
    .logo-text{
        display: none;
    }

    .logo-image {
        padding-top: 10px;
        margin-left: 3px;
    }

    .search-box{
        left: 45%;
        width: 75%;
        transform: translate(-50%,-5%);
    }

    /*========= MENU TOGGLE ==============*/
    .menu-toggle{
        display:block;
        height: 40px;
        width: 40px;
        color: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 130%;
    }

    .menu-toggle:before{
        content:'\f0c9';
        font-family: FontAwesome;
        line-height:40px;
    }

    .menu-toggle.active:before{
        content:'\f00d';
    }

    .main-nav{
        display: none;
    }

    .main-nav.active{
        display: block;
        width: 100%;
    }

    .main-nav.active ul{
        display: block;
        float: right;
    }

    .main-nav.active li{
        display: block;
        background-color: #000;
    }


    /*==========PROFILE ===========*/
    .section-profile{
        padding-left: 0px;
        margin-bottom: 200px;
    }
    .profile-header{
        top: 20%;
        left:40%;
        width: 50%;
    }
    .profile-user-info img{
        margin-left: 150px;
    }
    .user-avatar{
        float: none;
    }
    .user-name{
        float: none;
    }

    .group-btn{
        float: none;
    }

    .media-body{
        text-align: center;
        float: none;
    }

    .user-social{
        margin: 15px 0px;
        padding-left: 35px;
        text-align: center;
    }
 }

 @media (min-width: 598px) and (max-width: 767px){

        /*============ NAV BAR ======*/
        .logo-text{
            display: none;
        }
    
        .logo-image {
            padding-top: 10px;
            margin-left: 3px;
        }
    
        .search-box{
            top: 3.2%;
            left: 45%;
            width: 70%;
            transform: translate(-50%,0%);
        }
    
        /*========= MENU TOGGLE ==============*/
        .menu-toggle{
            display:block;
            height: 40px;
            width: 40px;
            color: #fff;
            float: right;
            cursor: pointer;
            text-align: center;
            font-size: 130%;
        }
    
        .menu-toggle:before{
            content:'\f0c9';
            font-family: FontAwesome;
            line-height:40px;
        }
    
        .menu-toggle.active:before{
            content:'\f00d';
        }
    
        .main-nav{
            display: none;
        }
    
        .main-nav.active{
            display: block;
            width: 100%;
        }
    
        .main-nav.active ul{
            display: block;
            float: right;
        }
    
        .main-nav.active li{
            display: block;
            background-color: #000;
        }

    /*==========PROFILE ===========*/
    .section-profile{
        margin-bottom: 150px;
    }
    .profile-header{
        top: 20%;
        left:30%;
        width: 100%;
    }
    .profile-user-info img{
        margin-left: 230px;
    }
    .user-avatar{
        float: none;
    }
    .user-name{
        float: none;
    }

    .group-btn{
        float: none;
    }

    .media-body{
        text-align: center;
        float: none;
    }

    .user-social{
        margin: 15px 0px;
        padding-left: 35px;
        text-align: center;
    }

    }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 480px) and (max-width: 597px){
              /*============ NAV BAR ======*/
              .logo-text{
                display: none;
            }
        
            .logo-image {
                padding-top: 10px;
                margin-left: 3px;
            }
        
            .search-box{
                left: 48%;
                width: 70%;
                transform: translate(-50%,10%);
            }
        
            /*========= MENU TOGGLE ==============*/
            .menu-toggle{
                display:block;
                height: 40px;
                width: 40px;
                color: #fff;
                float: right;
                cursor: pointer;
                text-align: center;
                font-size: 130%;
            }
        
            .menu-toggle:before{
                content:'\f0c9';
                font-family: FontAwesome;
                line-height:40px;
            }
        
            .menu-toggle.active:before{
                content:'\f00d';
            }
        
            .main-nav{
                display: none;
            }
        
            .main-nav.active{
                display: block;
                width: 100%;
            }
        
            .main-nav.active ul{
                display: block;
                float: right;
            }
        
            .main-nav.active li{
                display: block;
                background-color: #000;
            }
    
        /*==========PROFILE ===========*/
        .section-profile{
            margin-bottom: 150px;
        }
        .profile-header{
            top: 20%;
            left:25%;
            width: 100%;
        }
        .profile-user-info img{
            margin-left: 200px;
        }
        .user-avatar{
            float: none;
        }
        .user-name{
            float: none;
        }
    
        .group-btn{
            float: none;
        }
    
        .media-body{
            text-align: center;
            float: none;
        }
    
        .user-social{
            margin: 15px 0px;
            padding-left: 35px;
            text-align: center;
        }

        footer{
            font-size: 70%;
        }
    
        .footer-nav li,
        .social-links li{
        margin-right: 10px;
        }
    
}

